<!-- app/templates/admin/images/images.html -->

{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}Images{% endblock %}
{% block body %}
<div class="content-section">
  <div class="outer">
    <div class="middle">
      <div class="inner">
        <br/>
        {{ utils.flashed_messages() }}
        <br/>
        <h1 style="text-align:center;">Images</h1>
        {% if images %}
          <hr class="intro-divider">
          <div class="center">
            <table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th width="15%"> Name </th>
                  <th width="40%"> Is Banner? </th> 
                  <th width="15%"> Edit </th>
                  <th width="15%"> Delete </th>
                </tr>
              </thead>
              <tbody>
              {% for image in images %}
                <tr>
                  <td> {{ image.name}} </td>
                  <td> {{ image.is_banner}} </td>
                  <td>
                    <a href="{{ url_for('admin.edit_image', id=image.id) }}">
                      <i class="fa fa-pencil"></i> Edit 
                    </a>
                  </td>
                  <td>
                   <a href="{{ url_for('admin.delete_image', id=image.id) }}">  
                   <i class="fa fa-trash"></i> Delete 
                   </a>  
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
          <div style="text-align: center">
        {% else %}
          <div style="text-align: center">
            <h3> No images have been added. </h3>
            <hr class="intro-divider">
        {% endif %}
          <a href="{{ url_for('admin.add_image') }}" class="btn btn-default btn-lg">
            <i class="fa fa-plus"></i>
            Add Image
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}